body{
    background-color: black;
    background-image: url('portaleee.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: 'theExpance';/*,Arial, Helvetica, sans-serif;*/
}

.dropdown {
  display: inline-block;
  float: right;
  margin-right: 100px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: purple;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #b2a9a96f;
  background-color: #00A4BD;
}

@font-face {
  font-family: 'the Expance';
  src: url('../../TheVoidOutskirts.github.io Protomolecule.eot');
  src: url('../../TheVoidOutskirts.github.io Protomolecule.eot?#iefix') format('opentype'),
       url('../../TheVoidOutskirts.github.io Protomolecule.woff') format('woff'),
       url('../../TheVoidOutskirts.github.io Protomolecule.ttf') format('truetype'),
       url('../../TheVoidOutskirts.github.io Protomolecule.svg#theExpance') format('svg');
  font-weight: normal;
  font-style: normal;

}/*
@font-face {
  font-family: 'the Expance';
  src: url('../../TheVoidOutskirts.github.io Protomolecule.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}*/