body{
    background-color: black;
    background-image: url('portaleee.gif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
  display: inline-block;
  float: right;
  margin-right: 100px;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 100px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: purple;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #b2a9a96f;
  background-color: #00A4BD;
}
font-face {
  font-family: myFirstFont;
  src: url(Protomolecule.woff) format("woff");
}

* {
  font-family: myFirstFont;
}