body{
  margin: 0;
  background-color: black;
  background-image: url('portaleeNoBlur.gif');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
#myVideo {
  position: fixed;
  right: 0;
  min-width: 100%; 
  min-height: 100%;
}
.header{
  background-color: #383838;
  padding: 5px;
  width: 100%;
  height: auto;
  position: absolute;
  transition: 0.5s;

}
.navbar {
  position: sticky;
  overflow: hidden;
  padding: 5px;
 
}

.navbar a.menu {
  float: right;
  margin-right: 20px;
  color: white;
  padding: 6px 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 5px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #525252;
  color: white;
  float: right;
  margin-right: 20px;
  padding: 6px 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 5px;
}
.navbar a.logo {
  float: left;
  font-size: 30px;
  text-decoration: none;
  color: white;
}


        /* ----- Mobile Version ------ */


.sidepanel  {
  display: none;
}

.sidepanel a {
  display: none;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  display: none;
}

.openbtn:hover {
  background-color:#444;
}

@media screen and (max-width: 500px) {
  .sidepanel  {
    width: 0;
    display: block;
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .openbtn {
    position: sticky;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 15px;
    border: none;
    display: inline;
  }

  .navbar a {
    display: none;
  }
}
/*font-face {
  font-family: myFirstFont;
  src: "Protomolecule.woff" format("woff");
}
font-face {
  font-family: "theExpance";
  src: url("Protomolecule.otf");
  src: url('Protomolecule.otf') format('opentype'),
       url('Protomolecule.woff2') format('woff2'),
       url('Protomolecule.woff') format('woff'),
       url('Protomolecule.ttf') format('truetype'),
       url('Protomolecule.svg#Proto') format('svg');
}

@keyframes change{
  0%
  {
      background-image: url(Disegno_portale.png);
  }
  70%
  {
      background-image: url(MOSHED-2022-8-9-13-10-29.gif);
  }
  100%
  {
      background-image: url(NoSignal.webp);
  }
}*/