body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }
#navbar {
    overflow: hidden;
    background-color: #383838;
    padding: 5px;
  }
  
  #navbar a {
    float: right;
    margin-right: 20px;
    color: white;
    padding: 6px 5px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  #navbar a.active {
    background-color: #525252;
    color: white;
  }
  #navbar a.logo {
    float: left;
    font-size: 30px;
    font-weight: bold;
  }
  .content {
    margin-left: 460px;
    padding: 30px 10px;
    background-color: black;
    color: white;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content{
    padding-top: 60px;
  }
#navbar a.logo {
  font-size: 30px;
  font-weight: bold;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

.sidenav ul {
    text-align: left;
    color: white;
    margin-top: 0px;
    
}
.sidenav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 0px;
}  
.sidenav li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}  
.sidenav {
    height: 100%;
    width: 460;
    margin-top: 47px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(29, 29, 29);
    overflow-x: hidden;
    
  }
.sidenav a {
   text-decoration: none;
   font-size: 15px;
   color: #ffffff;
   display: block;
 }
 .sidenav a:hover {
    color: #797979;
  }